aiolimiter>=1.1.0
telethon>=1.36.0
python-dotenv>=1.0.1
openai>=1.44.1
pillow>=10.4.0
cryptg>=0.4.0
tiktoken>=0.7.0
redis>=5.0.8
opencv-python-headless>=4.10.0.84
docstring_parser>=0.16
duckduckgo_search>=6.2.11
python_weather>=2.0.3
html2text>=2024.2.26
aiohttp>=3.9.5
readability-lxml>=0.8.1
beautifulsoup4>=4.12.3
lxml_html_clean>=0.4.1